body {
    margin: 8px;
}

.flex-container {
    display: flex;

    justify-content: center;
    align-items: center;

    gap: 20px;

    height: 100vh;
}

.box {
    width: 100px;
    height: 100px;
}

.box:nth-child(1) { background: rgb(134, 21, 1); }
.box:nth-child(2) { background: rgb(3, 56, 77);}
.box:nth-child(3) { background: rgb(128, 47, 91);}
.box:nth-child(4) { background: rgb(42, 104, 42);}

.big {
    flex-grow: 2;
}